@model List<IEXTrading.Models.ViewModel.CompanyQuote>

@{
    ViewData["Title"] = "Company";
}

<h2>Stocks</h2>
<hr />

<form asp-controller="Home" asp-action="Index" method="get">
    <select id="selectWithProjectDropDown" style="width:100%" class="js-example-basic-single" name="symbol">
        @foreach (var companyQuote in Model)
        {
            <option value=@companyQuote.company.symbol selected>@companyQuote.company.name</option>
        }
    </select>
    <input type="submit" id="btnAdd" class="submit" style="margin-top:2%" value="Get Quote" />
</form>
@if (Model.Where(a => a.primaryExchange != null).Count() == 1)
{
    var companyQuote = Model.Where(a => a.primaryExchange != null).FirstOrDefault();
    <hr />
    <table>
        <tbody>
            <tr>
                <td>
                    Quote
                    <table>
                        <tr>
                            <td>
                                Symbol
                            </td>
                            <td>@companyQuote.company.symbol</td>
                        </tr>
                        <tr>
                            <td>
                                Company Name
                            </td>
                            <td>@companyQuote.company.name</td>
                        </tr>
                        <tr>
                            <td>
                                Stock Exchange
                            </td>
                            <td>@companyQuote.primaryExchange</td>
                        </tr>
                        <tr>
                            <td>
                                Last Trading Price
                            </td>
                            <td>
                                @companyQuote.latestPrice
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Week 52 High
                            </td>
                            <td>
                                @companyQuote.week52High
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Week 52 Low
                            </td>
                            <td>
                                @companyQuote.week52Low
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Closing Price
                            </td>
                            <td>
                                @companyQuote.close
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Market Capitalization
                            </td>
                            <td>
                                @companyQuote.marketCap
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Average Volume
                            </td>
                            <td>
                                @companyQuote.avgTotalVolume
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <a asp-controller="Home" asp-action="Details" asp-route-symbol="@companyQuote.company.symbol">
            <input type="submit" id="btnAdd" class="submit" value="Details" />
        </a>
        <a asp-controller="Home" asp-action="Index" asp-route-symbol="@String.Concat("save_",companyQuote.company.symbol)"><input type="submit" id="btnAdd" class="submit" style="margin-left:2%" value="Submit" /></a>
    </div>
}
<script>
    $(document).ready(function () {
        $('#selectWithProjectDropDown').select2({
            //width: '50%',
            placeholder: "Select a project"
        });
    });
    alertDbSave(@ViewBag.dbSuccessStock);
</script>
